// Place all the styles related to the Words controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

///////////////GENERAL TABLE///////////////
table {
	padding-bottom: 50px;
	border-top: 5px solid #333;
}

tr {
  background: #f4f7f8;
  border-bottom: 1px solid #000;
  margin-bottom: 5px;
}

tr:nth-child(even) {
  background: #e8eeef;
}

th, td {
  text-align: left;
  padding: 20px;
}


tfoot tr {
  background: none;
}

tfoot td {
  padding: 10px 0;
  font-size: 0.8em;
  font-style: italic;
  color: #8a97a0;
}