// Place all the styles related to the Words controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.h1-word {
  font-size: 4em;
  float: right;
  display: block;
  margin-right: 1.25em;
  line-height: 1.5em;
}

.new {
  display: block;
  float: right;
  font-size: 2em;
  margin-right: 2.5em;
  margin-bottom: 10px;
  clear: right;
}

.english-word {
  font-size: 1em;
}

.translation-word {
  font-size: 4em;
  text-decoration: none;
}

.words-table {
  clear: right;
}

///////////////GENERAL TABLE///////////////
table {
  margin-top: 50px;
	padding-bottom: 50px;
	border-top: 5px solid #333;
}

tr {
  background: #f4f7f8;
  border-bottom: 1px solid #000;
  margin-bottom: 5px;
}

tr:nth-child(even) {
  background: #e8eeef;
}

th, td {
  text-align: left;
  padding: 20px;
}


tfoot tr {
  background: none;
}

tfoot td {
  padding: 10px 0;
  font-size: 0.8em;
  font-style: italic;
  color: #8a97a0;
}

///////////////SENTENCES///////////////
.translation-sentence {
  font-size: 2em;
}



///////////////MEDIA QUERIES///////////////
@media screen and (min-width: 800px) {
  .words-table {
    display: inline-block;
    float: left;
  }
}

@media screen and (min-width: 800px) {
  .sentences-table {
    display: inline-block;
    float: left;
  }
}